/* Farver:
Primær brandfarve: #b10000
Sekundær brandfarve: #ffb310
Tekstfarve: #222222

Typografi:
Overskrifter: Ranchers,cursive
Brødtekst: Sans-serif */

@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');


.search-button {
    background-image: url(img/search.png);

}

header.site-header {
    background-color: rgb(254,242,219);
    padding: 1em 0 0 0;

    box-shadow: 0px 0px 10px lightslategrey;
}


header.site-header .logo {
    display:block;
    margin: 0 auto 0 auto;
}

header.site-header input.search-field {
    border-radius: 3px 0 0 3px;
    border:1px solid lightgray;
    border-right:0;

    padding: 0 1em;
}

header.site-header .search-form {
    text-align: center;
    margin-top:1em;
    display:flex;
    height:40px;
    margin: auto 0;
}

.search-btn {
    background:#b10000;
    border:1px solid;
    border-left:0;
    align-items:center;
    justify-content:center;
    padding:10px;

    border-radius:0px 3px 3px 0px;
    border:0px solid lightgray;
    border-left:0;

}

body {
    height:100%;
    min-height:100%;
}



html, body {
    padding:0;
    margin:0;
    font-family: sans-serif;
}

/* main {
    display:flex;
    justify-content: space-between;
    margin: 2em;
}

 main article {
    display:flex;
    justify-content: space-between;
}  */

* {
    box-sizing: border-box; /* i.e. inverse borders, so element size doesn't increase */
}

img {
    max-width: 100%;
}

h1,h2,h3,h4 {
    font-family: 'Ranchers', cursive;
    text-transform: uppercase;
}

/* Global styles  */

.wrapper {
    max-width: 1100px;
    margin: 0 auto 0 auto;
    padding: 0 0.3em;
}
.box-shadow {
    margin: 3em auto;
    box-shadow: 0px 0px 35px -10px lightslategray;
}



/* Menu  */

nav.site-navigation {
    background: #b10000;
    margin-top: 1em;
}

ul.menu-items {
    list-style: none;
    padding: 10px 0;
    display:none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.menu-check:checked + .menu-items {
    display:block;
}


.side-navigation label img {
}


ul.menu-items a {
    color: white;
    text-decoration: none;
    font-family: 'Ranchers', cursive;
    text-transform: uppercase;
}

ul.menu-items li {
    padding: 0.2em 0;
}

/* footer */

footer.site-footer {
    background:  rgb(254,242,219);
    padding: 1.5em 0;

}

footer.site-footer h3 {
    color:#b10000;
}

footer.site-footer section {
    padding-bottom: 10px;
}

footer.site-footer a, footer.site-footer p {
    color:#b10000;
    display:block;
    text-decoration: none;
    margin: 10px 0;
    font-weight: bold;

}


code {
    background: rgb(254,242,219);
    margin: 0 0 16px 0;
    display: block;
    padding: 1.5em;
}


/* Styles for desktop (mobile first)*/

@media screen and (min-width: 600px) {
    .flex-parent {
        display:flex;
        justify-content:space-between;
    }
    .flex-parent-right {
        display:flex;
        justify-content: flex-end;
    }

    ul.menu-items li {
        padding: 8px 10px;
        border-left: 1px solid white;
    }

    .menu-items li:last-child {
        border-right: 1px solid white;
    }

    ul.menu-items {
        display:flex;
    }

    .sidebar {
        padding-left:2em;
    }

    footer.site-footer section {
        padding: 0 2em;
    }

    .menu-items a:hover {
        color: #ffb310;
    }

    .site-navigation label {
        display:none;
    }



}

