/* Farver:
Primær brandfarve: #b10000
Sekundær brandfarve: #ffb310
Tekstfarve: #222222

Typografi:
Overskrifter: Ranchers,cursive
Brødtekst: Sans-serif */

@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');



/* html */

* {
    box-sizing: border-box; /* i.e. inverse borders, so element size doesn't increase */
}

body {
    height:100%;
    min-height:100%;
}

html, body {
    padding:0;
    margin:0;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

h1,h2,h3,h4 {
    font-family: 'Ranchers', cursive;
    text-transform: uppercase;
}

/* Header */

header.site-header {
    background-color: rgb(254,242,219);
    padding: 1em 0 0 0;

    box-shadow: 0px 0px 10px lightslategrey;
}

header.site-header .logo {
    display:block;
    margin: 0 auto 0 auto;
}

header.site-header input.search-field {
    border-radius: 3px 0 0 3px;
    border:1px solid lightgray;
    border-right:0;

    padding: 0 1em;
    align-items:center;
    justify-content:center;
}

header.site-header .search-form {
    text-align: center;
    margin-top:1em;
    display:flex;
    height:40px;
    justify-content:center;
}


header.site-header .search-btn {
    background:#b10000;
    border:1px solid;
    border-left:0;
    align-items:center;
    justify-content:center;
    padding:10px;

    border-radius:0px 3px 3px 0px;
    border:0px solid lightgray;
    border-left:0;

}


/*  ---- Menu  */

nav.site-navigation {
    background: #b10000;
    margin-top: 1em;
    padding: 0 10px;
}

ul.menu-items {
    list-style: none;
    padding: 10px 0;
    display:none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

nav.site-navigation label img {
    padding:10px;
}

.menu-check:checked + .menu-items {
    display:block;
}


ul.menu-items a {
    color: white;
    text-decoration: none;
    font-family: 'Ranchers', cursive;
    text-transform: uppercase;
}

ul.menu-items li {
    padding: 0.2em 0;
}


/* Gallery */

.gallery {
    display:grid;
    grid-template-columns: 1fr 1fr;
}


.gallery img {
    display: block;
}

.gallery a {
    pointer-events: none;
}

iframe.expand-image {
    width: 400px;
    height: 400px;
    margin-top: 81px;
    display:none;
}


/* Contact form*/

.contact-form {
    min-height:450px;
}

.contact-form input, .contact-form textarea {
    margin:10px 0;
    display:block;
    min-width:320px;
    padding:10px;
}

.contact-form textarea {
    display:block;
}

.contact-form label {
    display:inline;
}

.contact-form input#nyhedsbrev {
    display:inline;
    min-width:auto;
}


/* Misc */ 

.wrapper {
    max-width: 1100px;
    margin: 0 auto 0 auto;
}

.box-shadow {
    margin: 3em auto;
    box-shadow: 0px 0px 35px -10px lightslategray;
    padding: 0 1em 1em 1em;
}

code {
    background: rgb(254,242,219);
    margin: 0 0 16px 0;
    display: block;
    padding: 1.5em;
}


/* footer */

footer.site-footer {
    background:  rgb(254,242,219);
    padding: 1.5em 0;

}

footer.site-footer h3 {
    color:#b10000;
}

footer.site-footer section {
    padding-bottom: 10px;
}

footer.site-footer a, footer.site-footer p {
    color:#b10000;
    display:block;
    text-decoration: none;
    margin: 10px 0;
    font-weight: bold;

}


/* Styles for desktop (mobile first) */

@media screen and (min-width: 600px) {
    .flex-parent {
        display:flex;
        justify-content:space-between;
    }
    .flex-parent-right {
        display:flex;
        justify-content: flex-end;
    }

    ul.menu-items li {
        padding: 8px 10px;
        border-left: 1px solid white;
    }

    .menu-items li:last-child {
        border-right: 1px solid white;
    }

    ul.menu-items {
        display:flex;
    }

    .sidebar {
        padding-left:2em;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery a {
        pointer-events:all;
    }

    iframe.expand-image {
        display: block;
    }

    footer.site-footer section {
        padding: 0 2em;
    }

    .menu-items a:hover {
        color: #ffb310;
    }

    .site-navigation label {
        display:none;
    }

    header.site-header .search-form {
        margin: auto 0;
    }

}



